<a href="https://colab.research.google.com/github/Chao-Meng/Python-libraries-practice/blob/main/Import_Export_Data_activity.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
# 1) Download cities.csv in C7W1 Activity folder
# 2) Import the CSV in a dataframe
import pandas as pd

df = pd.read_csv('/content/cities.csv')
print(df)

     LatD   "LatM"   "LatS"  "NS"   "LonD"   "LonM"   "LonS"  "EW"  \
0      41        5       59   "N"       80       39        0   "W"
1      42       52       48   "N"       97       23       23   "W"
2      46       35       59   "N"      120       30       36   "W"
3      42       16       12   "N"       71       48        0   "W"
4      43       37       48   "N"       89       46       11   "W"
..    ...      ...      ...   ...      ...      ...      ...   ...
123    39       31       12   "N"      119       48       35   "W"
124    50       25       11   "N"      104       39        0   "W"
125    40       10       48   "N"      122       14       23   "W"
126    40       19       48   "N"       75       55       48   "W"
127    41        9       35   "N"       81       14       23   "W"

                 "City"  "State"
0          "Youngstown"       OH
1             "Yankton"       SD
2              "Yakima"       WA
3           "Worcester"       MA
4     "Wisconsin Dells"       WI
..                  ...      ...
123              "Reno"       NV
124            "Regina"       SA
125         "Red Bluff"       CA
126           "Reading"       PA
127           "Ravenna"      OH

[128 rows x 10 columns]

In [20]:
# 3) Add a column to the dataframe
#df['EW_Hemisphere'] = [41,5,59, "N",80,39,0,"W","Youngstown",'OH ' ]
#df['Hemisphere'] = df['"EW"'].apply(lambda x: 'Eastern' if x.strip('"') == 'E' else 'Western')

#print(df.columns.tolist())
# Rename columns to remove quotes and ensure clean column names
#df.columns = [col.replace('"', '').strip() for col in df.columns]

df['newColumn2'] = df['EW'].apply(lambda x: 'Eastern' if x == 'E' else 'Western')
print(df)

import numpy as np

     LatD  LatM  LatS    NS  LonD  LonM  LonS    EW                City State  \
0      41     5    59   "N"    80    39     0   "W"        "Youngstown"    OH
1      42    52    48   "N"    97    23    23   "W"           "Yankton"    SD
2      46    35    59   "N"   120    30    36   "W"            "Yakima"    WA
3      42    16    12   "N"    71    48     0   "W"         "Worcester"    MA
4      43    37    48   "N"    89    46    11   "W"   "Wisconsin Dells"    WI
..    ...   ...   ...   ...   ...   ...   ...   ...                 ...   ...
123    39    31    12   "N"   119    48    35   "W"              "Reno"    NV
124    50    25    11   "N"   104    39     0   "W"            "Regina"    SA
125    40    10    48   "N"   122    14    23   "W"         "Red Bluff"    CA
126    40    19    48   "N"    75    55    48   "W"           "Reading"    PA
127    41     9    35   "N"    81    14    23   "W"           "Ravenna"   OH

    Hemisphere newColumn newColumn2
0      Western   Western    Western
1      Western   Western    Western
2      Western   Western    Western
3      Western   Western    Western
4      Western   Western    Western
..         ...       ...        ...
123    Western   Western    Western
124    Western   Western    Western
125    Western   Western    Western
126    Western   Western    Western
127    Western   Western    Western

[128 rows x 13 columns]

In [16]:
# 4) Perform describe and info on dataframe

print("Description of the DataFrame:")
print(df.describe())

# Display information about the DataFrame including the data types and non-null values
print("\nInformation about the DataFrame:")
df.info()

Description of the DataFrame:
             LatD        LatM        LatS        LonD        LonM        LonS
count  128.000000  128.000000  128.000000  128.000000  128.000000  128.000000
mean    38.820312   30.765625   27.492188   93.250000   27.742188   26.960938
std      5.200596   16.426158   18.977814   15.466499   16.927937   18.727807
min     26.000000    1.000000    0.000000   71.000000    0.000000    0.000000
25%     35.000000   16.000000   11.000000   80.000000   14.000000   11.000000
50%     39.000000   31.000000   24.000000   89.500000   26.500000   23.500000
75%     42.250000   45.000000   47.000000  103.250000   40.250000   47.000000
max     50.000000   59.000000   59.000000  123.000000   58.000000   59.000000

Information about the DataFrame:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 128 entries, 0 to 127
Data columns (total 11 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   LatD        128 non-null    int64
 1   LatM        128 non-null    int64
 2   LatS        128 non-null    int64
 3   NS          128 non-null    object
 4   LonD        128 non-null    int64
 5   LonM        128 non-null    int64
 6   LonS        128 non-null    int64
 7   EW          128 non-null    object
 8   City        128 non-null    object
 9   State       128 non-null    object
 10  Hemisphere  128 non-null    object
dtypes: int64(6), object(5)
memory usage: 11.1+ KB

In [21]:
# 5) Export and save this data as cities1.csv
df.to_csv('cities1.csv', index=False)

In [25]:
!pip install pandas openpyxl

Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (1.5.3)
Requirement already satisfied: openpyxl in /usr/local/lib/python3.10/dist-packages (3.1.2)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2023.4)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.25.2)
Requirement already satisfied: et-xmlfile in /usr/local/lib/python3.10/dist-packages (from openpyxl) (1.1.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [27]:
# Import xlsx in a dataframe
import pandas as pd

df = pd.read_excel('/content/CarSalesByModelStart.xlsx')
print(df)

      Year     Month                Date      Model  Dealer ID  Quantity Sold  \
0     2018   January 2018-01-01 23:00:00   Beaufort       1222             10
1     2018   January 2018-01-01 23:00:00     Salish       1222             13
2     2018   January 2018-01-01 23:00:00   Labrador       1222             16
3     2018   January 2018-01-01 23:00:00  Champlain       1222              3
4     2018   January 2018-01-01 23:00:00     Hudson       1222             22
...    ...       ...                 ...        ...        ...            ...
1195  2019  December 2019-12-01 23:00:00   Beaufort       1288             12
1196  2019  December 2019-12-01 23:00:00     Salish       1288             14
1197  2019  December 2019-12-01 23:00:00   Labrador       1288             18
1198  2019  December 2019-12-01 23:00:00  Champlain       1288              4
1199  2019  December 2019-12-01 23:00:00     Hudson       1288             25

       Profit
0     15000.0
1     39650.0
2     12800.0
3      6900.0
4     11000.0
...       ...
1195  18000.0
1196  42700.0
1197  14400.0
1198   9200.0
1199  12500.0

[1200 rows x 7 columns]

In [30]:

# 3) Add a column to the dataframe
df['Total Profit'] = df['Quantity Sold'] * df['Profit']
print(df)

      Year     Month                Date      Model  Dealer ID  Quantity Sold  \
0     2018   January 2018-01-01 23:00:00   Beaufort       1222             10
1     2018   January 2018-01-01 23:00:00     Salish       1222             13
2     2018   January 2018-01-01 23:00:00   Labrador       1222             16
3     2018   January 2018-01-01 23:00:00  Champlain       1222              3
4     2018   January 2018-01-01 23:00:00     Hudson       1222             22
...    ...       ...                 ...        ...        ...            ...
1195  2019  December 2019-12-01 23:00:00   Beaufort       1288             12
1196  2019  December 2019-12-01 23:00:00     Salish       1288             14
1197  2019  December 2019-12-01 23:00:00   Labrador       1288             18
1198  2019  December 2019-12-01 23:00:00  Champlain       1288              4
1199  2019  December 2019-12-01 23:00:00     Hudson       1288             25

       Profit  Total Profit
0     15000.0      150000.0
1     39650.0      515450.0
2     12800.0      204800.0
3      6900.0       20700.0
4     11000.0      242000.0
...       ...           ...
1195  18000.0      216000.0
1196  42700.0      597800.0
1197  14400.0      259200.0
1198   9200.0       36800.0
1199  12500.0      312500.0

[1200 rows x 8 columns]

In [33]:
# 4) Perform describe and info on dataframe
print("Description of the DataFrame:")
print(df.describe())
print("\nInformation about the DataFrame:")
df.info()

Description of the DataFrame:
              Year    Dealer ID  Quantity Sold        Profit  Total Profit
count  1200.000000  1200.000000     1200.00000   1200.000000  1.200000e+03
mean   2018.500000  1281.800000       17.99750  24974.055208  5.024268e+05
std       0.500208    72.453672        9.97432  17370.750612  4.704418e+05
min    2018.000000  1212.000000        2.00000   4600.000000  9.200000e+03
25%    2018.000000  1217.000000       11.00000  13500.000000  1.800000e+05
50%    2018.500000  1256.000000       18.00000  18500.000000  3.872000e+05
75%    2019.000000  1336.000000       24.00000  28922.812500  6.728000e+05
max    2019.000000  1402.000000       48.00000  83875.000000  3.406760e+06

Information about the DataFrame:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1200 entries, 0 to 1199
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Year           1200 non-null   int64
 1   Month          1200 non-null   object
 2   Date           1200 non-null   datetime64[ns]
 3   Model          1200 non-null   object
 4   Dealer ID      1200 non-null   int64
 5   Quantity Sold  1200 non-null   int64
 6   Profit         1200 non-null   float64
 7   Total Profit   1200 non-null   float64
dtypes: datetime64[ns](1), float64(2), int64(3), object(2)
memory usage: 75.1+ KB

In [34]:
# 5) Export and save this data as CarSalesByModelStart1.xlsx
df.to_excel('CarSalesByModelStart1.xlsx', index=False, engine='openpyxl')

In [35]:
import pandas as pd

# 2) Import the Json into a dataframe
# 用正确的文件路径替换'Jay.json'，如果文件就在当前工作目录，直接使用文件名即可
df = pd.read_json('Jay.json')

# 查看DataFrame的前几行，确认数据已正确加载
print(df.head())

   Duration  Pulse  Maxpulse  Calories
0        60    110       130     409.1
1        60    117       145     479.0
2        60    103       135     340.0
3        45    109       175     282.4
4        45    117       148     406.0

In [38]:
#add a column
df['Effort'] = df['Calories'] / df['Duration']
print(df)

     Duration  Pulse  Maxpulse  Calories    Effort
0          60    110       130     409.1  6.818333
1          60    117       145     479.0  7.983333
2          60    103       135     340.0  5.666667
3          45    109       175     282.4  6.275556
4          45    117       148     406.0  9.022222
..        ...    ...       ...       ...       ...
164        60    105       140     290.8  4.846667
165        60    110       145     300.4  5.006667
166        60    115       145     310.2  5.170000
167        75    120       150     320.4  4.272000
168        75    125       150     330.4  4.405333

[169 rows x 5 columns]

In [39]:
# 4) Perform describe and info on dataframe
print("Description of the DataFrame:")
print(df.describe())

print("\nInformation about the DataFrame:")
df.info()

Description of the DataFrame:
         Duration       Pulse    Maxpulse     Calories      Effort
count  169.000000  169.000000  169.000000   164.000000  164.000000
mean    63.846154  107.461538  134.047337   375.800000    5.976795
std     42.299949   14.510259   16.450434   266.377134    1.602332
min     15.000000   80.000000  100.000000    50.300000    2.237778
25%     45.000000  100.000000  124.000000   250.925000    5.001417
50%     60.000000  105.000000  131.000000   318.600000    5.842167
75%     60.000000  111.000000  141.000000   387.600000    6.636667
max    300.000000  159.000000  184.000000  1860.400000   11.470000

Information about the DataFrame:
<class 'pandas.core.frame.DataFrame'>
Int64Index: 169 entries, 0 to 168
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Duration  169 non-null    int64
 1   Pulse     169 non-null    int64
 2   Maxpulse  169 non-null    int64
 3   Calories  164 non-null    float64
 4   Effort    164 non-null    float64
dtypes: float64(2), int64(3)
memory usage: 7.9 KB

In [40]:
# 5) Export and save this data as Jay1.json
df.to_json("Jay1.json", orient='records', lines=True)

print("\nData has been saved to Jay1.json.")

Data has been saved to Jay1.json.